body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9faff;
  position: relative;
}

div.absolute {
  position: absolute;
  top: 0;
  width: 100%;
  height: 600px;

  background: linear-gradient(
    170deg,
    #40b1b5 0%,
    #40b1b5 65%,
    #f9faff 65%,
    #f9faff 100%
  );
  background-repeat: no-repeat;
}

.main-2 {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  /* position: relative; */
  /* position: fixed; */
}

nav {
  display: flex;
  justify-content: center;
  /* position: sticky; */
}

.main-1 {
  position: fixed;
  width: 95%;
  margin: 0 auto;
  display: flex;
  height: 65px;
  background-color: #ffffff;
  border-radius: 10px;
  align-items: center;
  /* position: relative; */
  z-index: 1;
  margin-top: 10px;
  box-shadow: 0px 0px 24px -8px #000000;
}

.nav {
  display: flex;
  justify-content: center;
  width: 85%;
  list-style: none;
  font-weight: 700;
}

.nav li {
  padding: 0px 15px 0px 15px;
}

.nav a {
  text-decoration: none;
  color: black;
}

.nav a:hover {
  color: #40b1b5;
  transition: 0.4s;
}
.out {
  width: 10%;
  border-right: 2px rgb(54, 42, 42, 0.1) solid;
  height: 65px;
  display: flex;
  justify-content: center;
}

.header {
  font-weight: 600;
  font-size: 20px;
  width: 100px;
  margin-left: 10px;
}

.register button {
  width: 130px;
  height: 40px;
  margin-right: 20px;
  background: linear-gradient(to top, #fb7743, #fbb93d);
  border-radius: 20px;
  border: 0;
  color: white;
  font-size: small;
  font-weight: 600;
}

/* section-1 */

.section-1-main {
  width: 80%;
  padding-top: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 100px;
  /* top: 100px; */
}

.left-buttons {
  height: 400px;
  display: grid;
  grid-template-rows: 70px 50px;
  grid-template-columns: 300px;
  align-content: space-around;
}

.right-buttons {
  height: 400px;
  display: grid;
  grid-template-rows: 50px 60px 50px;
  align-content: space-around;
  grid-template-columns: 300px;
}

.right-buttons button:hover {
  color: #fdfdfd;
  background-color: black;
  transition: 0.4s;
}

.left-buttons button:hover {
  color: #fdfdfd;
  background-color: black;
  transition: 0.4s;
}

.left-buttons button {
  /* width: 160px;
  height: 70px; */
  background-color: #fdfffc;
  border-radius: 20px;
  border: 0;
  color: rgb(0, 0, 0);
  font-size: small;
  font-weight: 600;
  /* margin: 50px 0px 50px 0px; */
  box-shadow: 0px 4px 20px -10px;
}

.right-buttons button {
  /* width: 160px;
  height: 70px; */
  background-color: #fdfffc;
  border-radius: 20px;
  border: 0;
  color: rgb(0, 0, 0);
  font-size: small;
  font-weight: 600;
  /* margin: 50px 0px 50px 0px; */
  box-shadow: 0px 4px 20px -10px;
}

#ux-ui {
  font-size: larger;
  font-weight: 600;
  border-radius: 40px;
  margin-left: 90px;
  margin-right: 20px;
}

#illustration {
  font-size: 15px;
  font-weight: 600;
  border-radius: 40px;
  margin-right: 120px;
}

#logo {
  /* background-image: url("/images/logo.png"); */
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-left: 180px;
}

#logo img {
  width: 90px;
  height: 90px;
}

#hi {
  font-size: 15px;
  font-weight: 600;
  border-radius: 40px;
  margin-left: 20px;
  margin-right: 120px;
}

#photography {
  font-size: 20px;
  font-weight: 600;
  border-radius: 40px;
  margin-left: 60px;
  margin-right: 20px;
}

#request {
  font-size: 15px;
  font-weight: 600;
  border-radius: 40px;
  margin-right: 100px;
}
.circal {
  width: 400px;
  height: 400px;
  background-image: url("../images/cir.jpg");
  background-size: cover;
  border-radius: 50%;
}

/* text-content  */

.text-content {
  margin-top: 30px;
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 600px;
  justify-content: center;
  text-align: center;
  /* align-items: center; */
  position: relative;
}

.text-content h1 {
  font-size: 50px;
  margin: 0px;
}

.text-content p {
  font-size: 15px;
  font-weight: 600;
  color: #daa486;
}

/* comment-text-content */

.comment-text-content {
  margin-top: 100px;
  display: grid;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.comment-text-content h1 {
  /* margin: 0px; */
  font-size: 40px;
  border-bottom: 3px #7bb0b0 solid;
  padding-bottom: 30px;
}

.comment-text-content p {
  font-size: 12px;
  opacity: 0.6;
  font-weight: 600;
}

/* slider */
.comment-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.container-1 {
  display: flex;
  width: 80vw;
}

.panel {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  height: 50vh;
  border-radius: 50px;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  transition: flex 0.7s ease-in;
  box-shadow: 0px 0px 20px rgb(213, 206, 206);
  overflow: hidden;
}

.grid1 {
  align-self: center;
  margin: 0px 30px;
  font-size: larger;
}

.grid2 {
  border-top: 2px solid rgb(226, 218, 218);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: end;
  margin: 0px 30px;
}

.grid2 h4,
p {
  margin: 0;
}

.grid2 p,
.grid1 p {
  color: #595959;
}
.panel h3 {
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: 0.4s ease-in;
}

@media (max-width: 500px) {
  .container {
    width: 100vw;
  }
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}

.panel p {
  /* display: none; */
  opacity: 0;
}

.panel.active p {
  display: block;
  opacity: 1;
  transition: 0.4s ease-in 0.5s;
}
